# PostgreSQL 数据库配置
# 复制此文件为 .env 并填入实际值
# 注意：这些用户和数据库会由 Docker 自动创建
PG_DB=ai_assistant_db
PG_USER_NAME=wuhonglei
PG_PASSWORD=xxxx

# NACOS 配置中心连接配置
NACOS_SERVER_ADDRESSES=***
NACOS_NAMESPACE=public
NACOS_USERNAME=***
NACOS_PASSWORD=***
NACOS_DATA_ID=***
NACOS_GROUP=DEFAULT_GROUP
NACOS_CONFIG_TYPE=yaml