.container {
  container-type: inline-size;
  container-name: container;
  --horizontal-offset: calc((100cqw - 768px) / 2);
}

@container container (min-width: 784px) {
  .markdown-container {
    padding-left: var(--horizontal-offset);
    padding-right: var(--horizontal-offset);
  }

  .input-container {
    margin-left: var(--horizontal-offset);
    margin-right: var(--horizontal-offset);
  }
}

/* 隐藏默认状态下的滚动条（移动端下会出现横向和垂直滚动条） */
.splitter div:global(.ant-splitter-bar[aria-valuenow="100"]) {
  overflow: hidden;
}
