.container {
  container-type: inline-size;
  container-name: container;
  --horizontal-offset: calc((100cqw - 768px) / 2);
}

@container container (min-width: 784px) {
  .markdown-container {
    padding-left: var(--horizontal-offset);
    padding-right: var(--horizontal-offset);
  }

  .input-container {
    margin-left: var(--horizontal-offset);
    margin-right: var(--horizontal-offset);
  }
}
