.button {
  border-radius: 10px;
  cursor: pointer;
  /* 禁用文本选择 */
  user-select: none;
}

.bordered {
  border-width: 1px;
  border-style: solid;
}

.small {
  padding-left: 7px;
  padding-right: 7px;
  height: 24px;
}

.middle {
  padding-left: 15px;
  padding-right: 15px;
  height: 32px;
}

.large {
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}
