.button {
  border-radius: 10px;
  cursor: pointer;
  /* 禁用文本选择 */
  user-select: none;
}

.bordered {
  border-width: 1px;
  border-style: solid;
}

.small {
  padding: 4px 8px;
}

.medium {
  padding: 10px 12px;
}

.large {
  padding: 12px 16px;
}
