.container:focus-within:after {
  /* focus 时，组件默认的 border-width: 2px; 这里重置为 1px */
  border-width: 1px;
}

.mentionPopup {
  max-width: 320px;
  font-size: 12px;
}

.mentionPopup :global(.ant-suggestion-item) {
  align-items: center;
}

.mentionPopup :global(.ant-suggestion-item-icon) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.mentionPopup :global(.ant-suggestion-item-icon svg) {
  display: block;
}
